* {
   box-sizing: border-box;
}
/* time 9:43 */
html {
    overflow-y: scroll;
}
.body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #333533;
}
/* NAVBAR */
.navbar {
    
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index:1;
    background-color: #F5CB5C;
}


.navbar-brand {
    padding-left: 20px;
    
}



.dropdown {
    padding-top: 1px;
    
}
.dropdown-menu.show {
    background-color:#F5CB5C !important;
    
}

a.dropdown-item:hover {
    color: #F5CB5C;
    background-color: #333533 !important;
    
    
}
.btn:focus {
    box-shadow: none !important;
}

.nav-contact {
    color: #333533 !important;
    font-size: 18px;
    padding-right: 20px;
    
    
    
    
    
}

 .nav-contact:hover {
    text-decoration: none;
    color: black !important;
    font-size: 22px;
}




.bg-light {
    background-color:#F5CB5C!important;
}



.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    text-align: center;
    position: relative;
   
    
}

.content-wrap {
    font-size: 46px;
    padding-top: 30px;
    margin-top: 20px;
    
    
}
#myLife {
    font-size: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bio {
    font-size: 24px;
    color: #F5CB5C;
    text-align: left;
}



h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top:30px;
    color:#F5CB5C;
}

#certificate {
    margin-bottom: 30px;
    float: right;
    padding-left: 26px;
    margin-top: 30px;

}
.erin {
    font-size: 28px;
   
}
.bio .erin:hover {
    color: white
    
}
label {
    color: #F5CB5C;
}



.divide {
    
    background-color: #F5CB5C;
    
}

a {
    color: #F5CB5C;
}




#typeOfProjects {
    padding-top: 60px;
    margin-top:40px;
    font-size: 44px;
}

/*PROJECT CARDS */


.projectsSection {
    display:flex;
    width:100%;
}
.projectCard {
    flex:1;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin:10px;
}
.projectCard img {
    width:100%;
}
.ProjectCardBody {
    padding: 20px;
}
.projectName {
    height: 80px;
}
.projectDesc {
    font-size: 22px;
    min-height: 200px;
    color: #333533;
}
.ProjectCardBody a {
    font-size: 16px;
    margin-top: 0px;  
    color: #F5CB5C;
}
.ProjectCardBody a:hover {
    color: black;
    background-color: white !important;
  
}
@media screen and (max-width:990px) {
    .projectsSection {
        flex-direction: column;
    }
}



/* FOOTER */

footer {
    
    padding-top: 40px;
    line-height: 8px;
    
}
.footerName {
    color: #F5CB5C !important;
    font-size: 18px;
    font-weight: 600;
}

.bioLinks:hover {
    color: #e8eddf;
    background-color: #333533 !important;
  }
  


@media screen and (max-width:800px) {
    .left, .main, .right {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
   
  }