* {
   box-sizing: border-box;
}
/* time 9:43 */
html {
    overflow-y: scroll;
}
.body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #02101A;
}
/* NAVBAR */
.navbar {
    
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index:1;
    /* background-color: #072B44; */
    

}


.navbar-brand {
    padding-left: 20px;
    color: #5e8aa9 !important;
}



.dropdown {
    padding-top: 1px;
    
}
.dropdown-menu.show {
    background-color:#072B44 !important;
    
}

a.dropdown-item:hover {
    color: #02101A;
    background-color: #5e8aa9 !important;
    
    
}
.btn {
    color:#a6c0d2 !important;
}
.btn:hover {
    color: #5e8aa9!important;
}
.dropdown-item {
    color:#a6c0d2;
}
.btn:focus {
    box-shadow: none !important;
}

.nav-contact {
    color: #5e8aa9 !important;
    font-size: 18px;
    padding-right: 20px;
    
    
    
    
    
}

 .nav-contact:hover {
    text-decoration: none;
    color: #a6c0d2 !important;
}
.nav-link {
    color: #a6c0d2 !important;
}
a.nav-link:hover {
    color: #5e8aa9!important;
    
}



.bg-light {
    background-color:#072B44 !important;
}


.sailingHero {
    margin-top: 56px;
    margin-bottom: 40px;
    width: 100%;
    
}

.mountainHero {
    width: 100%;
    margin-bottom: 60px;
    
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    text-align: center;
    position: relative;
   
    
}

.content-wrap {
    font-size: 46px;
    
    
    
}
#myLife {
    font-size: 44px;
    font-family: 'Cinzel', serif;
    color:#5e8aa9;
    font-weight: bold;
}

.bio {
    font-size: 24px;
    color: #a6c0d2;
    text-align: left;
}

/* .erin {
    color: #a6c0d2
} */

.erin:hover {
    color: #5e8aa9;
    text-decoration: none;
}
.erin {
    color: #a6c0d2;
    display: inline;
    position: relative;
    overflow: hidden;
  }
  .erin:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #5e8aa9;
    height: 2px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .erin:hover:after,
  .erin:focus:after,
  .erin:active:after {
    right: 0;
  }


/* h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
    color:#F5CB5C;
} */



/* label {
    color: #F5CB5C;
} */

.carousel {
    margin-top: 50px;
}


.divide {
    
    background-color: #a6c0d2;
    
}

/* a {
    color: #5e8aa9;
} */




#typeOfProjects {
    padding-top: 100px;
    /* margin-top:40px; */
    padding-bottom: 20px;
    font-size: 44px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-align: center;
    color:#5e8aa9;
}

/*PROJECT CARDS */


.projectsSection {
    display:flex;
    width:100%;
}
.projectCard {
    flex:1;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    margin:10px;
}
.projectCard img {
    width:100%;
}
.ProjectCardBody {
    padding: 20px;
}
.projectName {
    height: 80px;
    color: #072b44;    
}
.projectDesc {
    font-size: 22px;
    min-height: 200px;
    color: #072b44;
}
.projectLinks {
    font-size: 16px;
    margin-top: 0px;  
    color: #5e8aa9;
    position: relative;
}
a.projectLinks {
    position: relative;
}
a.projectLinks:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color:black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;

 
}
a.projectLinks:hover:before {
    visibility: visible;
    transform: scaleX(1);
    
}

.projectLinks:hover {
    color: #072b44;
    text-decoration: none;
  
}


@media screen and (max-width:990px) {
    .projectsSection {
        flex-direction: column;
    }
}



/* FOOTER */

footer {
    
    padding-top: 40px;
    line-height: 8px;
    
}
.footerName {
    color: #5e8aa9 !important;
    font-size: 18px;
    font-weight: 600;
}

.bioLinks {
    padding-left: 10px;
    padding-right: 10px;
    color: #5e8aa9;
}

.bioLinks:hover {
    color: #a6c0d2;
    text-decoration: none;
  }
  


@media screen and (max-width:800px) {
    .left, .main, .right {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
   
  }