* {
   box-sizing: border-box;
}
/* time 9:43 */
html {
    overflow-y: scroll;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #333533;
}
/* NAVBAR */
.navbar {
    
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index:1;
}
a:hover, .dropdwonMenulink.btn {
   
}

.dropdown {
    padding-top: 1px;
    
}
.dropdown-menu.show {
    background-color:#F5CB5C !important;
    
}
a:hover, .dropdown-menu.show:hover  {
    color: #F5CB5C !important;
    
     
}
a:hover, .dropdown-item:hover {
    color: #F5CB5C;
    background-color: #333533;
    
}



.bg-light {
    background-color:#F5CB5C!important;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    text-align: center;
    position: relative;
   
    
}

.content-wrap {
    font-size: 46px;
    padding-top: 30px;
    margin-top: 20px;
    
}
.bio {
    font-size: 24px;
    color: #F5CB5C;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top:30px;
    color:#F5CB5C;
}

#certificate {
    margin-bottom: 30px;
    float: right;

}


label {
    color: #F5CB5C;
}

/* .contact-info {
    float: left;
} */

.projects {
    float: left;
    width: 33.3%; 
    color: #242423;
    font-style: unset;
    padding-bottom: 45px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    
}    

.divide {
    
    background-color: #F5CB5C;
    
}
footer {
    clear: both;
    bottom: 0;
    width: 100%;
    height: 120px;
    margin-top: 20px;
    
}
.footerName {
    color: #F5CB5C !important;
}
a {
    color: #F5CB5C;
}

a:hover, .bioLinks:hover {
    color: #e8eddf;
  }
a:hover, .projectLinks:hover  {
    color: #242423;
     
}

#typeOfProjects {
    padding-top: 60px;
    margin-top:40px;
    font-size: 44px;
}

/*PROJECT CARDS */
.card {
    
    
}
.card-img-top {
    height: 240px;
}

#projectName {
    height: 80px;
    padding-top: 8px;
    
}

.card-text {
    font-size: 22px;
    height: 200px;
    color: #333533;
}

.projectLinkBody {
  padding-top: 40px;
}
.projectLinks {
    font-size: 16px;
    margin-top: 0px;
    
    
    
}

  
/* .contact-info {
    position: fixed;
} */

@media screen and (max-width:800px) {
    .left, .main, .right {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .projects {
        float:none;
        width:100%;
    }
  }